<h1>Dynamic Forms!</h1>
<unik-form name="basic">
  <unik-form-input name="username"></unik-form-input>
  <unik-form-input name="phone"></unik-form-input>
  <unik-form-input name="mobile"></unik-form-input>
  <unik-form-submit submitText="Godkend" (submitted)="submitted()"></unik-form-submit>
</unik-form>

<br />
<br />
<br />
<br />
Inspiration:<br />
https://timdeschryver.dev/blog/bringing-the-power-of-signals-to-angular-forms-with-signal-forms
<br />
https://stackoverflow.com/questions/77918786/angular-reactive-form-with-signals-based-service
<br />
https://dev.to/mana95/how-to-handle-dynamic-form-fields-in-reactive-forms-in-angular-3c0f
<br />